/*Colors*/
:root {
    --white: #FBFBFB;
    --soft-grey: #EEEEEE;
    --grey: #D9D9D9;
    --black: #1F1F1F;

    --blue-1: #CDDEFF;
    --blue-2: #91B7FF;
    --blue-3: #518EFF;
    --blue-4: #1E58C3;
  }
/*End of Colors*/

/*Fonts*/
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/*End of Fonts*/

html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Arimo';
    color: var(--black);
    background-color: var(--soft-grey);
}


